*{
    margin: o;
    padding: 0;
    text-align: center;
    background-color: rgb(238, 150, 82);
}
h1{
    background-color: #081b31;
    color:#fff;
    height:5rem;
    line-height: 5rem;
}
.choice{
    height: 100px;
    width:100px;
    border-radius: 2px rgb(102, 55, 63);
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    height: 100px;
    width:100px; 
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex; /* to show content in same line */
    justify-content: center;
    align-items: center;
    gap:1rem;
    margin-top: 5rem;

}
.choice:hover{
    background-color: #081b31;
    cursor: pointer;
}

.score_board{
    display: flex;
    justify-content: center;
    align-items: center; /* for vertical alignment */
    font-size: 2rem;
    margin-top:3rem;
    gap:5rem;
}

#user_score, #comp_score, #draw_score{
    font-size: 4rem;
    height:50px;
    width:50px;
}

#msg{
    font-size: 2rem;
    background-color: black;
    color: #fff;
    display: inline; /* to fix the container to the size of inner content */
    padding: 1rem;
    border-radius: 10px;

}
.mess_cont{
    margin-top: 3rem;
}

